body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, ol, ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1 {
  font-style: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-style: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-style: 14px; }

h6 {
  font-size: 12px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.nav {
  display: flex;
  justify-content: space-around;
  height: 40px;
  line-height: 40px;
  background: #fff;
  text-align: center; }
  .nav a {
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: relative; }
    .nav a.active {
      color: #31c27c; }
      .nav a.active:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: #31c27c; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.songs-list {
  margin: 0 10px 7px 10px; }
  .songs-list h2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
    font-weight: normal;
    margin-top: 5px; }
  .songs-list .radio-item {
    float: left;
    width: 50%;
    padding-right: 8px; }
    .songs-list .radio-item a {
      background: #fff;
      display: block; }
    .songs-list .radio-item .media-wrap {
      margin-bottom: 5px;
      position: relative; }
      .songs-list .radio-item .media-wrap:after {
        content: '';
        display: block;
        padding-top: 100%; }
      .songs-list .radio-item .media-wrap img {
        width: 100%;
        position: absolute; }
      .songs-list .radio-item .media-wrap .icon-play {
        position: absolute;
        bottom: 4px;
        right: 4px; }
        .songs-list .radio-item .media-wrap .icon-play:after {
          font-family: "iconfont";
          content: '\e633';
          font-size: 24px;
          color: rgba(255, 255, 255, 0.75); }
    .songs-list .radio-item .media-info {
      padding-bottom: 10px; }
      .songs-list .radio-item .media-info .media-title {
        font-size: 14px;
        color: #000;
        padding-left: 8px;
        line-height: 18px; }

.more-list {
  height: 40px;
  line-height: 40px;
  text-align: center; }
  .more-list a {
    color: rgba(0, 0, 0, 0.6); }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.footer .web-vision {
  text-align: center; }
  .footer .web-vision a {
    position: relative;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    color: #000; }

.footer .footer-logo {
  height: 25px;
  display: block;
  width: 82px;
  margin: 10px auto;
  background-image: url("../imgs/logo_footer.png");
  background-repeat: no-repeat;
  background-size: contain; }

.footer .copyright {
  text-align: center;
  margin-bottom: 10px; }
  .footer .copyright p, .footer .copyright .e-link {
    color: rgba(0, 0, 0, 0.6);
    font-size: 10px; }

.rank-tab {
  margin: 0 10px 10px;
  padding-top: 10px; }
  .rank-tab .rank-item {
    margin-bottom: 10px; }
    .rank-tab .rank-item .item-wrap {
      background: #fff;
      display: flex;
      position: relative;
      padding-left: 5px;
      overflow: hidden; }
    .rank-tab .rank-item .rank-media {
      width: 100px;
      height: 100px;
      position: relative;
      display: block; }
      .rank-tab .rank-item .rank-media img {
        width: 100px;
        display: block; }
      .rank-tab .rank-item .rank-media .rank-count {
        position: absolute;
        white-space: nowrap;
        bottom: 4px;
        left: 20px;
        color: #fff;
        font-size: 10px; }
      .rank-tab .rank-item .rank-media .icon-1 {
        position: absolute;
        left: 4px;
        bottom: 4px; }
        .rank-tab .rank-item .rank-media .icon-1:after {
          font-family: 'iconfont';
          display: block;
          content: '\e681';
          font-size: 10px;
          color: #fff; }
    .rank-tab .rank-item .rank-list {
      margin: 6px 10px 6px 15px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column; }
      .rank-tab .rank-item .rank-list p {
        max-width: 220px; }
      .rank-tab .rank-item .rank-list span {
        margin: 0 5px;
        color: #000; }
    .rank-tab .rank-item .rank-list-title {
      font-size: 16px;
      color: #000;
      margin-bottom: 5px; }
    .rank-tab .rank-item .rightt-arrow {
      position: absolute;
      right: 10px;
      top: 50%; }
      .rank-tab .rank-item .rightt-arrow:after {
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        transform: rotate(-45deg);
        border-right: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2; }

.search-bar {
  background: #f4f4f4;
  padding: 10px;
  display: flex; }
  .search-bar .search-wrap {
    position: relative;
    flex-grow: 1;
    background: #fff;
    border-radius: 3px;
    padding: 8px 12px 8px 30px; }
  .search-bar .search-input {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    outline: none; }
    .search-bar .search-input::-webkit-input-placeholder {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.3); }
    .search-bar .search-input::-moz-placeholder {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.3); }
  .search-bar .icon-search {
    position: absolute;
    left: 6px;
    top: 9px; }
    .search-bar .icon-search:after {
      font-family: 'iconfont';
      content: '\e738';
      display: block;
      font-size: 18px;
      color: #b2b2b2; }

.search-content {
  position: relative;
  background: #fff; }
  .search-content li {
    padding: 5px 0;
    border-top: 1px solid #e5e5e5; }

.singer-info > span {
  float: left;
  margin-left: 8px;
  margin-top: 5px;
  width: 40px;
  height: 40px; }

.singer-info img {
  display: block;
  width: 100%;
  border-radius: 50%; }

.result-title {
  font-size: 16px;
  line-height: 18px;
  margin: 10px 0 0 55px; }

.result-content {
  color: #808080;
  margin-left: 55px; }
  .result-content > span {
    margin-right: 10px;
    font-size: 12px; }

.song .icon-music {
  float: left;
  margin-left: 8px;
  margin-top: 10px; }
  .song .icon-music:after {
    font-family: 'iconfont';
    content: '\e612';
    display: block;
    font-size: 35px;
    color: #b2b2b2; }

.hot-search {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 10px;
  background: #fff; }
  .hot-search h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px; }
  .hot-search .hot-tags {
    display: flex;
    flex-wrap: wrap; }
  .hot-search .tags {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 99px;
    margin-right: 14px;
    margin-bottom: 10px;
    color: #000; }
    .hot-search .tags.hot-key {
      color: #fc4524;
      border-color: #fc4524; }

body {
  color: #000;
  background: #fff; }

#header {
  height: 44px;
  background: #31c27c; }
  #header #logo {
    height: 25px;
    margin: 9px 0 0 10px; }

.content-wrap {
  background: #f4f4f4; }

.hide {
  display: none; }

.clearfix {
  content: '';
  display: block;
  clear: both; }

.text-hide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
