
.nav{
  display: flex;
  justify-content: space-around;
  height: $nav-line-height;
  line-height: $nav-line-height;
  background: #fff;
  text-align: center;
  a{
    color: $link-color;
    width: 100%;
    position: relative;
    &.active{
      color: $primary-color;
      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $primary-color;
      }
    }

  }
}