#player{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
  &.remove{
    transform: translateY(-999px);
  }
  .player-container{
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    z-index: 11;
    overflow: hidden;
    background: rgba(0,0,0,.6);
  }
  .player-header{
    display: flex;
    align-items: center;
    background: rgba(0,0,0,.1);
    flex-direction: row;
    padding: 15px;
    z-index: 21;
    color: #fff;
    min-height: 110px;
  }
  .album-cover{
    width: 80px;
    height: 80px;
    display: block;
  }
  .song-info{ 
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .song-name{
      font-size: 18px;
      height: 30px;
      display: inline-block;
    }
    .singer-name{
      font-size: 14px;
      height: 21px;
      display: inline-block;
    }
  }
  .icon-bofang{
    width: 50px;
    height: 50px;
    border: solid 1px $icon-color;
    border-radius: 999px;
    text-align: center;
    line-height: 50px;
    &:after{
      font-family: "iconfont";
      content: '\e87c';
      display: block;
      font-size: 24px;
      color: $icon-color;
      
    }
  }
  .icon-zanting{
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 1px $icon-color;
    border-radius: 999px;
    text-align: center;
    line-height: 50px;
    &:after{
      font-family: "iconfont";
      content: '\e87a';
      display: block;
      font-size: 24px;
      color: $icon-color;
    }
  }
  .player-lyrics{
    flex-grow: 1;
    overflow: hidden;
    margin: 36px 0 50px 0;
    .lyrics-lines{
      overflow: hidden;
      transition: .5s;
    }
    .lyrics-line{
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      color: rgba(255,255,255,.6);
      text-align: center;
      &.active{
        color: $primary-color;
      }
    } 
  }
  .player-footer{
    position: relative;
    height: 200px;
    .icon-icon-music-lsit{
      position: absolute;
      top: 0;
      right: 15px;
      z-index: 21;
      &:after{
        font-family: "iconfont";
        content: '\e697';
        display: block;
        font-size: 30px;
        color: rgba(255,255,255,.6);
      }
    }
  }
  .progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255,255,255,.4);
    margin-top: 50px;
    .progress-bar{
      flex-grow: 1;
      width: 100%;
      height: 2px;
      background: rgba(255, 255, 255, .2);
      overflow: hidden;
      .progress-play{
        width: 100%;
        height: 2px;
        background: $primary-color;
        transform: translate(-100%);
        transition: all 1s linear;
      }
    }
    .progress-time{
      width: 60px;
      text-align: center;
      font-size: 12px;
    }
  }
  .download-btn{
    position: relative;
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    margin: 20px 50px 0;
    padding: 0 55px;
    color: #fff;
    border-radius: 999px;
    background-color: $primary-color;
    text-align: center;
    &:before{
      background-image: url('../imgs/sprite_play.png');
      background-repeat: no-repeat;
      background-position: 6px -321px;
      background-size: 43px;
      width: 43px;
      height: 100%;
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
  .play-background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    filter: blur(15px);
    background-size: cover;
    background-position: bottom center;
    transform: scale(1.15);
    background-image: url('https://y.gtimg.cn/music/photo_new/T002R150x150M0000024bjiL2aocxT.jpg?max_age=2592000');
  }
}