$header-height: 44px;
$primary-color: #31c27c;
$logo-height: 25px;
$body-background: #f4f4f4;
$font-color: #555;
$link-color:  rgba(0,0,0,.6);
$nav-line-height: 40px;
$font-color: #000;
$icon-color: rgba(255,255,255,.75);
$icon-height: 24px;
$rank-img-width: 100px;
$arrow-color: #b2b2b2;
$hot-color: #fc4524;
$result-content-color: #808080;