@import "var";
@import "reset";
@import "nav";
@import "icon";
@import "rec";
@import "footer";
@import "rank";
@import "search";
body{
  color: $font-color;
  background: #fff;
}
#header {
  height: $header-height;
  background: $header-background;
  #logo{
    height: $logo-height;
    margin: 9px 0 0 10px;
  }
}
.content-wrap{
  background: $body-background;
}
.hide{
  display: none;
}
.clearfix{
  content: '';
  display: block;
  clear: both;
}
.text-hide{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}