@import "var";
@import "reset";
@import "slider";
@import "nav";
body{
  background: $body-background;
  color: $font-color;
}
#header {
  height: $header-height;
  background: $header-background;
  #logo{
    height: $logo-height;
    margin: 9px 0 0 10px;
  }


}
